html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.container{
    background: url(../images/Background.webp) no-repeat;
    margin-top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav{
    margin: 3rem;
}

.nav__search{
    display: none;
}

.hero__heading{
    text-align: center;
    font-size: 7rem;
    font-weight: 800;
}

.hero__text{
    font-size: 2rem;
    text-align: center;
    color: #383838;
    margin: 2rem 1.5rem;
}

.text2{
    margin-bottom: 7rem;
}

.hero__button{
    font-size: 2rem;
    font-weight: 600;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 2rem;
    width: 90%;
    margin:0 auto;
    display: block;
}

.inner__text{
    font-weight: 300;
    color: #adaeae;
}

.hero__image img{
    width:90%;
    margin: 0 auto;
    display: block;
}

.body{
    margin: 10rem 0 5rem;
}

.body__image{
    width: 90%;
    margin: 0 auto;
    display: block;
}


.body__heading{
    font-size: 4.2rem;
    margin: 2rem
}

.body__text{
    text-align: left;
    margin-left: 2rem;;
}

.body__button{
    width: 60%;
    margin: 2rem;
}

footer{
    margin-top: 7rem;
}

.footer__foot{
    display: flex;
}

@media screen and (min-width: 768px) {

    .nav__search{
        display: flex;
        align-items: center;
    }

    .nav__search .hero__button{
        margin:0;
        width: 100%;
    }

    .signin{
        padding-left:2rem;
        padding-right:2rem;
        margin-left: 1rem;
        margin-right:1rem;
        font-size: 2rem;
        width: 30%;
    }

    .btn{
        width: 30%;
    }

    .menu{
        display: none;
    }

    .hero__heading{
        font-size: 6.5rem;
    }

    .hero__text{
        font-size: 1.5rem;
    }

    .hero__button{
        width: 30%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .body__image{
        width: 70%;
    }

    .body__button{
        width: 40%;
        padding-left:0;
        padding-right:0;
    }
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__foot p{
        font-size: 1.5rem;
    }
}

@media screen and (min-width:1024px) {
    .container2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .container__content:nth-child(1){
        order:2;
    }
}